{% extends "user/profile.html" %}
  {% load bootstrap4 %}
  
  {% block intro %}
  <div class="card text-center mt-5 bg-dark" style="border-radius: 0;">
    <div class="card-body" style="background-image: url({{ user.profile.profile_banner.url }}); background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;">
      
      <img src="{{user.profile.profile_img.url}} " class="img-thumbnail" alt="">
      
    </div>
    <div class="card-body bg-dark p-4">
      <h5 class="card-title text-danger ">{{ user.username }}</h5>
      <p class="card-text text-light">{{ user.profile.bio_short }}</p>
      {% if user.profile.show_email and user.email%}
      <a href="mailto:{{ user.email }}?subject=PhotoHub" class="card-text text-primary">Email: {{ user.email }}</a>
      {% endif%}
  
      {% if user.profile.show_location and user.profile.location%}
      <p class="card-text text-primary">Location: {{ user.profile.location }}</p>
      {% endif%}
      </div>
  
    <div class="card-footer text-muted bg-primary">
      {% block nav1 %}<a href="/user/{{ user.id }}" class="text-dark pr-2 pl-2">Overview</a>{% endblock nav1 %}
      {% if user.is_authenticated %}
      {% block nav2 %}<a href="#" class="text-light pr-2 pl-2">Edit Info</a>{% endblock nav2 %}
      {% else %}
      {% block nav3 %}<a href="#" class="text-dark pr-2 pl-2">Bio</a>{% endblock nav3 %}
      {% endif%}
      {% block nav4 %}<a href="/user/{{ user.id }}/images" class="text-dark pr-2 pl-2">Images</a>{% endblock nav4 %}
      {% block nav5 %}<a href="/user/{{ user.id }}/followers" class="text-dark pr-2 pl-2">Following</a>{% endblock nav5 %}
    </div>
  </div>
  {% endblock intro %}
  
  {% block content %}
  <div class="card m-5">
    <h5 class="card-header">Change Password</h5>
    <div class="card-body">
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <!--{{ form.as_p }}-->
        {% bootstrap_form form %}
        <p>
        <a href="/user/settings/">Don't change my password...</a>
        </p>
        <button class="btn btn-primary" type="submit">Submit</button>
      </form>
    </div>
  </div>
  {% endblock content %}