{% extends "user/profile.html" %}
{% load static %}

{% block nav1 %}<a href="/user/{{ user_p.id }}" class="text-dark pr-2 pl-2">Overview</a>{% endblock nav1 %}
{% block nav5 %}<a href="#" class="text-light pr-2 pl-2">Following</a>{% endblock nav5 %}

{% block content %}

<div class="card bg-dark" style="width: 100%;">
    <div class="card-body">
        <h5 class="card-title text-light">Following</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{user_p.username}} is following these users</h6>
    </div>
</div>

<div class="gallery-big mini-cards">
    {% for follower in user_p.profile.following.all %}
    <div class="card bg-dark text-light">
        <div class="card-body">
        <a href="{% url 'user:profile' %}{{follower.id}}" class="text-white">
            <img src="{{ follower.profile.profile_img.url }}"
                class="rounded border border-primary float-left mr-3" style="width: 50px;"
                alt="Profile picture of {{ follower.username }}.">
            {{follower}}
            <br>{{follower.profile.bio_short}}</a>
        </div>
    </div>
    {% endfor %}
</div>

<div class="card bg-dark" style="width: 100%;">
    <div class="card-body">
        <h5 class="card-title text-light">Followers</h5>
        <h6 class="card-subtitle mb-2 text-muted">These users are following {{user_p.username}}</h6>
    </div>
</div>

<div class="gallery-big mini-cards">
    {% for follower in user_p.profile.followers.all %}
    <div class="card bg-dark text-light">
        <div class="card-body">
        <a href="{% url 'user:profile' %}{{follower.id}}" class="text-white">
            <img src="{{ follower.profile.profile_img.url }}"
                class="rounded border border-primary float-left mr-3" style="width: 50px;"
                alt="Profile picture of {{ follower.username }}.">
            {{follower}}
            <br>{{follower.profile.bio_short}}</a>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock content %}