{% extends "user/profile.html" %} {% load static %}
{% block nav1 %}<a href="/user/{{ user_p.id }}" class="text-dark pr-2 pl-2">Overview</a>{% endblock nav1 %}
{% block nav2 %}<a href="/user/profile/settings/" class="text-dark pr-2 pl-2">Edit Info</a>{% endblock nav2 %}
{% block nav3 %}<a href="#" class="text-dark pr-2 pl-2">Bio</a>{% endblock nav3 %}
{% block nav4 %}<a href="#" class="text-light pr-2 pl-2">Images</a>{% endblock nav4 %}
{% block nav5 %}<a href="/user/{{ user_p.id }}/followers" class="text-dark pr-2 pl-2">Following</a>{% endblock nav5 %}
{% load app_filters %}

{% block content %}

<div class="card bg-dark" style="width: 100%;">
    <div class="card-body">
        <h5 class="card-title text-light">Pinned</h5>
        <h6 class="card-subtitle mb-2 text-muted">The photographer pinned these works</h6>
    </div>
</div>

<div class="gallery-big">
    {% for image in imagepost_list reversed %}
    {% if image.user == user_p and image.pinned %}

    {% include 'imageposts/snippet/img_card_mini.html' with image=image user=user_p %}

    {% endif %} {% endfor %}
</div>

<div class="card bg-dark" style="width: 100%;">
    <div class="card-body">
        <h5 class="card-title text-light">Licensed pictures</h5>
        <h6 class="card-subtitle mb-2 text-muted">These pictures were provided under special licenses. Read these
            carefully to know how to use the pictures</h6>
    </div>
</div>
</div>

<div class="gallery-big">
    {% for image in imagepost_list reversed %} {% if image.user == user_p and not image.freeuse %}

    {% include 'imageposts/snippet/img_card.html' with image=image user=user_p %}

    {% endif %} {% endfor %}

</div>

{% if user_p.instagramprofile.instagram_username %}
<div class="card bg-dark" style="width: 100%;">
    <div class="card-body">
        <h5 class="card-title text-light">Instagram profile <a
                href="https://www.instagram.com/{{ user_p.instagramprofile.instagram_username }}">@{{ user_p.instagramprofile.instagram_username }}</a>
            of {{ user_p.username }}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{ user_p.username }} shows some pictures from his Instagram profile
            from {{ user_p.instagramprofile.date_scraped }}</h6>
    </div>
</div>

<div class="gallery-big">
    {% for insta_image in user_p.instagramprofile.instagram_posts|to_insta_post %}

    <!-- big imagepost card -->
    <div class="card rounded-0 bg-dark card-border">
        <div class="card-header text-light">
            <a href="https://www.instagram.com/{{ user_p.instagramprofile.instagram_username }}" class="text-white">
                <img src="{{ user_p.instagramprofile.instagram_profile_img_url }}"
                    class="rounded border border-primary float-left mr-3 profile-images-mini"
                    alt="Instagram Profile picture of {{ user_p.instagramprofile.instagram_username }}.">
                {{ user_p.instagramprofile.instagram_username }}
            </a>
        </div>
        <figure class="gallery_item-big m-0 p-0">
            <img src="{{ insta_image.mediaSrc }}" class="gallery_img" alt="{{ insta_image.altText }}"
                style="object-fit: cover">
        </figure>
        <div class="card-footer text-light">
            <p class="text-light">{{ insta_image.title }}</p>
            <a href="{{ insta_image.mediaPath }}" class="btn btn-outline-warning"><strong>Open</strong>
            </a>
        </div>
    </div>
    <!-- /big imagepost card -->

    {% endfor %}
    {% endif %}
</div>

{% endblock content %}