{% extends "web/base.html" %}

{% block intro %}
{% load static %}
<link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/font-awesome-line-awesome/css/all.min.css">
{% load app_filters %}

<div class="card text-center mt-5 bg-dark" style="border-radius: 0;">
  <div class="card-body pt-5 pb-5" style="background-image: url({% static "media/default_page_banner.jpeg" %}); background-size: cover; 
    background-repeat: no-repeat;
    background-position: center center;">
    <br>
    <h4 class="card-title text-danger"><strong>Awesome & free pictures</strong></h4>
    <h5 class="card-text text-light"><strong>Free pictures from our talented community combined with a simple
        license</strong></h5>
    <br>
    <a href="{% url 'web:search' pk='wallpaper'|title %}" class="btn btn-primary">Wallpapers</a><a
      href="{% url 'web:search' pk='nature'|title %}" class="btn btn-primary ml-2 mr-2">Nature</a><a
      href="{% url 'web:search' pk='travel'|title %}" class="btn btn-primary">Travel</a>
    <br><br>
  </div>
  <div class="card-footer text-dark bg-primary">
    {% if user.is_authenticated %}
    Hello {{ user.username }}. Add new pictures to your <a href="{% url 'user:profile' %}{{ user.id }}"
      class="text-light">profile</a>.
    {% else %}
    Discover the latest pictures.
    {% endif %}
  </div>
</div>
{% endblock intro %}

{% block content %}
<div class="gallery-big">
  {% for image in page_obj %}
  {% if image.img.url != "/uploaded_content/media/773433.jpg" and image.img_thumbnail.url != "/uploaded_content/media/773433.jpg"%}

  {% include 'imageposts/snippet/img_card.html' with image=image user=user %}
  {% endif %}
  {% endfor %}
</div>
 <!-- paginator -->
 <nav aria-label="pagination">
  <ul class="pagination justify-content-center pagination-lg">
    {% for count in page_obj.paginator.num_pages|int_to_list_string %}
      {% if count == '1' %}
      <li id="page-item" class="page-item"><a href="?page={{count}}" class="page-link text-primary">first</a></li>
      {% elif count == page_obj.paginator.num_pages|to_string %}
      <li id="page-item" class="page-item"><a href="?page={{count}}" class="page-link text-primary">last</a></li>
      {% elif count == page_obj.previous_page_number|to_string %}
      <li id="page-item" class="page-item"><a href="?page={{count}}" class="page-link text-primary">previous</a></li>
      {% elif count == page_obj.next_page_number|to_string %}
      <li id="page-item" class="page-item"><a href="?page={{count}}" class="page-link text-primary">next</a></li>
      {% elif count == page_obj.number|to_string %}
      <li id="page-item" class="page-item b"><a href="?page={{count}}" class="page-link text-primary"><strong>{{ count }}</strong></a></li>
      {% else %}
      <li id="page-item" class="page-item"><a href="?page={{count}}" class="page-link text-primary">{{ count }}</a></li>
      {% endif %}
      {% endfor %}
  </ul>
</nav>
<!-- /paginator -->
{% endblock content %}