{% extends "web/home.html" %}
{% load static %}
{% load app_filters %}

{% block intro %}
<div class="card text-center mt-5 bg-dark" style="border-radius: 0;">
    <div class="card-body pt-5 pb-5" style="background-image: url({% static "media/default_page_banner.jpeg" %}); background-size: cover; 
    background-repeat: no-repeat;
    background-position: center center;">
        <br>
        <h1 class="text-light">{{pk|title}}</h1>
        {% if pk|get_search_description != none %}
        <h2 class="text-light">{{ pk|get_search_description|dict_key:'text' }}</h2>
        {% for btn in pk|get_search_description|dict_key:'suggestions'  %}
        <a href="{% url 'web:search' pk=btn|title %}" class="btn btn-primary">{{btn|title}}</a>
        {% endfor %}
        {% endif %}
        <h2><a></a></h2>
    </div>
    <div class="card-footer text-dark bg-primary">
        {% if user.is_authenticated %}
        Hello {{ user.username }}. Add new pictures to your <a href="{% url 'user:profile' %}{{ user.id }}"
            class="text-light">profile</a>.
        {% else %}
        Discover the latest pictures.
        {% endif %}
    </div>
</div>

{% endblock intro %}

{% block content %}
<div class="card bg-dark" style="width: 100%;">
    <div class="card-body">
        <h5 class="card-title text-light">Users</h5>
        <h6 class="card-subtitle mb-2 text-muted">Discover great profiles related to your search</h6>
    </div>
</div>

<div class="gallery-big mini-cards">
    {% for user in all_users %}
    {% if pk|is_user_in_search:user.username == True %}
    <div class="card bg-dark text-light">
        <div class="card-body">
        <a href="{% url 'user:profile' %}{{user.id}}" class="text-white">
            <img src="{{ user.profile.profile_img.url }}"
                class="rounded border border-primary float-left mr-3" style="width: 50px;"
                alt="Profile picture of {{ user.username }}.">
            {{user}}
            <br>{{user.profile.bio_short}}</a>
        </div>
    </div>
    {% endif %}
    {% endfor %}
</div>

<div class="card bg-dark" style="width: 100%;">
    <div class="card-body">
        <h5 class="card-title text-light">Images</h5>
        <h6 class="card-subtitle mb-2 text-muted">We found these pictures for you</h6>
    </div>
</div>

<div class="gallery-big">
{% for image in all_imgposts %}
{% if pk|is_image_in_search:image == True %}

{% include 'imageposts/snippet/img_card.html' with image=image user=user %}

{% endif %}
{% endfor %}
</div>
{% endblock content %}