/* form styles */

// upload image

#id_title
    width: $width_textfield_small
    height: $height_textfield_default

#id_description
    height: $height_textfield_default

#id_long_description
    height: $height_textfield_default*5

#id_tags
    width: $width_textfield_small*2
    height: $height_textfield_default

#id_category
    width: $width_textfield_small*2
    height: $height_textfield_default

#id_license_text
    height: $height_textfield_default*10
