$padding_default: 20px
$transition_default: .5s ease 
$height_textfield_default: 40px
$width_textfield_small: 200px
$content_center: center  !important
// Colors
$white: #fff
$black: #000
$grey: #595959
$grey-dark: #2b2b2b
$grey-light: #eee
$blue: #017ac7

@mixin center
    top: 50%
    left: 50%;
    transform: translate(-50%, -50%)
    

    