.image-card {
    position: relative;
    color: white;
}

.image-card-title {
    position: absolute;
    top: 20px;
    left: 20px;
}

.image-card-username {
    position: absolute;
    top: 80px;
    left: 20px;
}

.image-card-timestamp {
    position: absolute;
    top: 60px;
    left: 20px;
}

.image-card-freeuse {
    position: absolute;
    top: 40px;
    right: 20px;
}

.image-card-img {
    max-width: 100%;
    height: auto;  
}

.image-card-description {
    position: absolute;
    bottom: 50px;
    left: 20px;
}

.image-card-tags {
    position: absolute;
    bottom: 10px;
    left: 20px;
}