/*main style*/
* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

.image-card {
  position: relative;
  color: white;
  text-shadow: 0 0 10px black;
}

.image-card-title {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 15pt;
}

.image-card-username {
  position: absolute;
  top: 60px;
  left: 20px;
  font-size: 10pt;
}

.image-card-timestamp {
  position: absolute;
  top: 42px;
  left: 20px;
  font-size: 10pt;
}

.image-card-freeuse {
  position: absolute;
  top: 28px;
  right: 20px;
}

.image-card-img {
  max-width: 100%;
  height: auto;
}

.image-card-description {
  position: absolute;
  bottom: 25px;
  left: 20px;
  right: 20px;
  font-size: 10pt;
}

.image-card-tags {
  position: absolute;
  bottom: 1px;
  left: 20px;
  font-size: 10pt;
}

.floating_button {
  position: fixed;
  bottom: 30px;
  right: 20px;
}

.floating_button2 {
  position: fixed;
  bottom: 80px;
  right: 20px;
}

/* images grid */
.gallery {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  background: #242426;
}

.gallery-big {
  padding: 5px 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
  row-gap: 5px;
  background: #242426;
}

.gallery_img {
  width: 100%;
  height: 100%;
  display: block;
}

.gallery_item {
  height: 100%;
  background: black;
  border: solid 1px black;
  position: relative;
}

.gallery_item-big {
  height: 100%;
  position: relative;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: hidden;
  width: 100%;
  height: 0;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  text-align: center;
}

.overlay-big {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: hidden;
  width: 100%;
  height: 0;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.gallery_item:hover .overlay {
  height: 100%;
}

.gallery_item-big:hover .overlay-big {
  height: 100%;
}

.gallery-big:hover .overlay {
  height: 100%;
}

.text {
  white-space: nowrap;
  color: white;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  text-align: center;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.text-freeuse {
  top: -10%;
  left: 80%;
}

.card-overlay {
  color: white;
  position: fixed;
  /* Sit on top of the page content */
  display: block;
  /* Hidden by default */
  width: 100%;
  /* Full width (cover the whole page) */
  height: 100%;
  /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  /* Black background with opacity */
  z-index: 10;
  /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer;
  /* Add a pointer on hover */
}

.img-thumbnail {
  -webkit-box-shadow: 0px 5px 30px -5px black;
          box-shadow: 0px 5px 30px -5px black;
  width: 200px !important;
  height: 200px !important;
}

.profile-images-mini {
  width: 25px;
  height: 25px;
}

.mini-cards {
  padding: 20px;
}

#back-top-btn {
  font-size: 32px;
}

#upload-btn {
  font-size: 32px;
}

#upload-btn-sm {
  padding-left: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-right: 10px;
}

#back-top-btn-round {
  display: none;
  padding-left: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-right: 10px;
}

footer {
  padding: 20px;
}

footer a:nth-of-type(even) {
  margin: 0 20px;
}

.pagination {
  margin: auto;
  padding-top: 20px;
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
  padding-bottom: 20px;
  background: #242426;
}

.pagination a {
  background: #333a40;
  -webkit-box-shadow: 0px 5px 30px -5px black;
          box-shadow: 0px 5px 30px -5px black;
  padding: 2px;
}

/* media query for desktop */
@media (min-width: 1025px) {
  .gallery .gallery_item {
    -webkit-box-shadow: 0px 5px 30px -5px black;
            box-shadow: 0px 5px 30px -5px black;
  }
  .gallery-big {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
  }
  .gallery {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[5];
        grid-template-columns: repeat(5, 1fr);
    padding: 20px;
  }
  .card {
    -webkit-box-shadow: 0px 5px 30px -5px black;
            box-shadow: 0px 5px 30px -5px black;
  }
  #detail_card {
    width: 55%;
    margin: auto;
  }
  .pagination {
    margin: auto;
    padding-top: 20px;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
    padding-bottom: 20px;
    background: #242426;
  }
  .pagination a {
    background: #333a40;
    -webkit-box-shadow: 0px 5px 30px -5px black;
            box-shadow: 0px 5px 30px -5px black;
    padding-top: 8px !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
    padding-bottom: 8px !important;
  }
}

/* form styles */
#id_title {
  width: 200px;
  height: 40px;
}

#id_description {
  height: 40px;
}

#id_long_description {
  height: 200px;
}

#id_tags {
  width: 400px;
  height: 40px;
}

#id_category {
  width: 400px;
  height: 40px;
}

#id_license_text {
  height: 400px;
}

#id_instagram_username {
  height: 40px !important;
}
