.image-card {
    position: relative;
    color: white;
    text-shadow: 0 0 10px black;

}

.image-card-title {
    position: absolute;
    top: 20px;
    left: 20px;

    font-size: 15pt;
}

.image-card-username {
    position: absolute;
    top: 60px;
    left: 20px;

    font-size: 10pt;
}

.image-card-timestamp {
    position: absolute;
    top: 42px;
    left: 20px;

    font-size: 10pt;
}

.image-card-freeuse {
    position: absolute;
    top: 28px;
    right: 20px;
}

.image-card-img {
    max-width: 100%;
    height: auto;  
}

.image-card-description {
    position: absolute;
    bottom: 25px;
    left: 20px;
    right: 20px;

    font-size: 10pt;
}

.image-card-tags {
    position: absolute;
    bottom: 1px;
    left: 20px;

    font-size: 10pt;
}